<!DOCTYPE html>
<footer class="main-footer">
    <div class="footer-content">

        <div class="footer-column sitemap">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="/index.html" class="active" data-section="hero">Home</a></li>
                <li><a href="/about-us/index.html" data-section="about">About</a></li>
                <li><a href="/services/index.html" data-section="services">Services</a></li>
                <li><a href="/products/index.html" data-section="products">Products</a></li>
                <li><a href="careers/index.html" data-section="careers">Careers</a></li>
                <li><a href="/contact-us/index.html" data-section="contact">Contact Us</a></li>
            </ul>
        </div>

        <div class="footer-column about-company">
            <h4>About the Company</h4>
            <p>Nichi-In Software Solutions Pvt. Ltd., a joint venture company with
                NDR Co. Ltd., Osaka, Japan, specializes in providing innovative & cost
                effective IT solutions and services
                customized to our global customers.</p>
            <div class="social-icons">
                <!-- Updated Social Media Icons with Font Awesome -->
                <a href="https://in.linkedin.com/company/nichi-in-software-solutions-pvt-ltd" target="_blank"
                    aria-label="LinkedIn">
                    <i class="fab fa-linkedin social-icon"></i>
                    LinkedIn
                </a>
                <a href="https://x.com/nichiinsoft" target="_blank" aria-label="Twitter">
                    <i class="fab fa-twitter social-icon"></i>
                    Twitter
                </a>
                <a href="https://www.facebook.com/people/Nichi-In-Software-Solutions-Pvt-Ltd/100072343385812/#"
                    target="_blank" aria-label="Facebook">
                    <i class="fab fa-facebook social-icon"></i>
                    Facebook
                </a>
                <a href="#" target="_blank" aria-label="Instagram">
                    <i class="fab fa-instagram social-icon"></i>
                    Instagram
                </a>
            </div>
        </div>

        <div class="footer-column resources">
            <h4>Resources</h4>
            <ul>
                <li><a href="/privacy-policy/privacy-policy.html">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="footer-column newsletter">
            <h4>Corporate Office​</h4>
            <p>#813, Dr. Puneeth Rajkumar Road,
                Hosakerehalli, Banashankari 3rd Stage,
                Bengaluru – 560085, India</p>

            <h4>Development Center 2</h4>
            <p>#812, 1st Floor, Dr. Puneeth Rajkumar Road,<br>
                Hosakerehalli, Banashankari 3rd Stage,<br>
                Bengaluru – 560085, India</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Nichi-In Software Solutions Inc. All rights reserved.</p>
    </div>
</footer>