.leadership-hero {
  background: linear-gradient(135deg, #5077b1, #000066, #380597);
  padding: 40px 20px;
  color: white;
  text-align: center;
}

.leadership-hero h2{
    font-size: 2.5rem;
}

.leadership-hero .hero-content {
  margin-top: 80px;
}

.OO_zigzag_section {
  padding: 40px 20px;
  margin: 0 auto;
}

.zigzag-row {
  display: flex;
  flex-direction: column; /* Default to column for mobile */
  align-items: center;
  margin-bottom: 60px;
  align-items: start;
}

@media (min-width: 768px) {
  .zigzag-row {
    flex-direction: row; /* Row for desktop */
    justify-content: space-between;
  }
}

.zigzag-row.reverse {
  flex-direction: column-reverse; /* Reverse column for mobile */
  align-items: start;
}

@media (min-width: 768px) {
  .zigzag-row.reverse {
    flex-direction: row-reverse; /* Reverse row for desktop */
  }
}

.zigzag-text,
.zigzag-image {
  flex: 1;
  text-align: center;
}

@media (min-width: 768px) {
  .zigzag-text,
  .zigzag-image {
    text-align: left;
  }
}

.zigzag-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.zigzag-text h3 {
  font-size: 1.8em;
  color: #333;
  margin-bottom: 15px;
}

.zigzag-text p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #555;
  margin-bottom: 20px;
}

.zigzag-image img:hover { transform: scale(1.03); transition: transform 0.3s ease; }